.postChoice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postSelect {
  padding: 10px;
  border: 2px solid rgb(77, 76, 76);
  border-radius: 5px;
  font-size: 1rem;
}

.postSelect option {
  padding: 30px 0;
}

.postLinkAndImg {
  display: flex;
}

.postImg {
  margin: 5px;
}

.postLink {
  color: #0070f3;
  font-weight: 600;
  align-items: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 624px) {
  .postLink {
    max-width: 75%;
  }
}
